# Continuous Integration (CI) is the practice, in software
# engineering, of merging all developer working copies with a shared mainline
# several times a day < https://docs.platformio.org/page/ci/index.html >
#
# Documentation:
#
# * Travis CI Embedded Builds with PlatformIO
#   < https://docs.travis-ci.com/user/integration/platformio/ >
#
# * PlatformIO integration with Travis CI
#   < https://docs.platformio.org/page/ci/travis.html >
#
# * User Guide for `platformio ci` command
#   < https://docs.platformio.org/page/userguide/cmd_ci.html >
#
#
# Please choose one of the following templates (proposed below) and uncomment
# it (remove "# " before each line) or use own configuration according to the
# Travis CI documentation (see above).
#

stage: Framework
language: python
python:
    - "2.7"

sudo: false
cache:
    directories:
        - "~/.platformio"

env:   
  - PLATFORMIO_CI_SRC=examples/helloWorld/helloWorld.cpp
  - PLATFORMIO_CI_SRC=examples/fetch/fetchExample.cpp
  - PLATFORMIO_CI_SRC=examples/timeSync/timeSyncExample.cpp
    

install:
    - pip install -U platformio
    - platformio update

script:
    - platformio ci --lib="." --board=nodemcuv2 --project-option="lib_deps=ESP Async WebServer, ArduinoJSON"

jobs:
  include:
    - stage: GUI
      language: node_js
      node_js: 12
      script: 
        - npm run build
        - npm run lint